{% extends '_layouts/base.html.twig' %}

{% block title %}Archiv akcí | Frontendisti.cz{% endblock %}

{% block description -%}
    Archiv minikonferencí webových designérů a vývojářů orientovaných na HTML, CSS a trochu JavaScript.
{%- endblock %}

{% block sublayout %}
    <div class="layout-container">
        <h1 class="typography-h2 offset-top--large offset-bottom--large">Archiv akcí</h1>
    </div>

    {% for event in data.events|reverse %}
        <section class="section section--striped typography-text-center">
            <div class="layout-container">

                <h2>
                    <a href="#{{ event.slug|striptags|trim }}" id="{{ event.slug|striptags|trim }}" class="typography-link-unstyled">
                        {{ event.title|raw }}
                    </a>
                </h2>
                <p class="offset-bottom--large">
                    {{ event.description|raw }}
                </p>

                {# Speakers #}
                <div class="row center-xs typography-text-center">
                    {% for speaker in event.speakers %}
                        <div class="col-xs-6 col-sm-4 col-md-3 offset-bottom--large">

                            {% if speaker.image|length > 0 %}
                                <img
                                    src="{{ image('media/people/' ~ speaker.image).zoomCrop(150, 150) }}"
                                    srcset="
                                        {{ image('media/people/' ~ speaker.image).zoomCrop(150, 150) }},
                                        {{ image('media/people/' ~ speaker.image).zoomCrop(300, 300) }} 2x
                                    "
                                    width="150"
                                    height="150"
                                    class="typography-image-responsive typography-image-responsive--center
                                        typography-image-circle"
                                    alt="{{ speaker.name }}"
                                />
                            {% endif %}

                            <h3 class="typography-h4">
                                <strong>
                                    {% if speaker.name_link|length > 0 %}
                                        <a href="{{ speaker.name_link }}" target="_blank">
                                            {{ speaker.name|striptags|trim }}
                                        </a>
                                    {% else %}
                                        {{ speaker.name|striptags|trim }}
                                    {% endif %}
                                </strong>
                                {% if speaker.company|length > 0 %}
                                    <br />
                                    {% if speaker.company_link|length > 0 %}
                                        <a
                                            href="{{ speaker.company_link }}"
                                            target="_blank"
                                            class="typography-link-unstyled"
                                        >
                                            {{ speaker.company|raw }}
                                        </a>
                                    {% else %}
                                        {{ speaker.company|raw }}
                                    {% endif %}
                                {% endif %}
                            </h3>

                            <ul class="list list--clip typography-text-small">
                                {% if speaker.title|length > 0 %}
                                    <li class="list__item">
                                        <strong>{{ speaker.title|raw }}</strong>
                                    </li>
                                {% endif %}
                                {% if speaker.youtube_id|length > 0 %}
                                    <li class="list__item">
                                        <a
                                            href="https://youtu.be/{{ speaker.youtube_id|striptags|trim }}"
                                            target="_blank"
                                        >
                                            Video z&nbsp;přednášky
                                        </a>
                                    </li>
                                {% endif %}
                                {% if speaker.presentation|length > 0 %}
                                    <li class="list__item">
                                        <a href="{{ speaker.presentation|striptags|trim }}" target="_blank">
                                            Prezentace
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                    {% endfor %}
                </div><!-- .row -->

                {# Links #}
                {% if event.more_links|length > 0 %}
                    <ul class="list typography-text-small offset-bottom--large">
                        {% for link in event.more_links %}
                            <li>
                                <a href="{{ link.url|striptags|trim }}" target="_blank">{{ link.title|raw }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {# Partners #}
                {% if event.partners|length > 0 %}
                    <h3 class="typography-h4 offset-bottom">
                        {{ event.partners_title|striptags|trim }}
                    </h3>
                    <div class="row center-xs middle-xs">
                        {% for partner in event.partners %}
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">

                                <a href="{{ partner.url }}" target="_blank" title="{{ partner.title }}" class="typography-link-unstyled">
                                    <img
                                        src="{{ image('media/partners/' ~ partner.image).cropResize(120) }}"
                                        srcset="
                                            {{ image('media/partners/' ~ partner.image).cropResize(120) }},
                                            {{ image('media/partners/' ~ partner.image).cropResize(240) }} 2x
                                        "
                                        width="120"
                                        class="typography-image-responsive typography-image-responsive--center"
                                        alt="{{ partner.title }}"
                                    />
                                </a>

                            </div>
                        {% endfor %}
                    </div><!-- .row -->
                {% endif %}

            </div><!-- .layout-container -->
        </section>
    {% endfor %}
{% endblock %}
