{% extends '_layouts/base.html.twig' %}

{% block sublayout %}
    <div class="container--fluid cover">
        <div class="offset--bottom--large">{{ data.cover.intro|raw }}</div>
        <h1>{{ data.cover.title|raw }}</h1>
        <h2 class="offset--bottom--larger">{{ data.cover.subtitle|striptags|raw }}</h2>
        <div class="social offset--bottom">
            <a href="https://www.facebook.com/frontendisti/" target="_blank" class="social__icon">
                <img src="{{ asset('images/round-facebook.svg') }}" alt="Frontendisti na Facebooku">
            </a>
            <a href="https://www.twitter.com/frontendisti/" target="_blank" class="social__icon">
                <img src="{{ asset('images/round-twitter.svg') }}" alt="@Frontendisti na Twitteru">
            </a>
            <a href="https://www.youtube.com/channel/UCxs7KDC0LFOezVujLG_leRw" target="_blank" class="social__icon">
                <img src="{{ asset('images/round-youtube.svg') }}" alt="Frontendisti na Youtube">
            </a>
        </div>
    </div>
    {#video#}
    <div class="container">
        <div class="grid">
            <div class="grid__item">

            </div>
        </div>
    </div>
    {#links#}
    {#people#}
    {#contact#}
{% endblock %}
