{% extends '_layouts/base.html.twig' %}

{% block sublayout %}
    <!-- Introduction -->
    <div class="cover offset--bottom--large">
        <div class="container">

            <div class="u__text--accent offset--bottom">
                <strong>{{ data.cover.intro|raw }}</strong>
            </div>

            <h1>{{ data.cover.title|raw }}</h1>
            <h2>{{ data.cover.subtitle|striptags|raw }}</h2>

            <!-- Sign up -->
            {% if data.cover.url %}
                <p>
                    <a href="{{ data.cover.url|trim }}" class="button button--primary" target="_blank">
                        Přihlásit se
                    </a>
                </p>
            {% endif %}

            <!-- Social Networks -->
            <div class="offset--top--large">
                <a href="https://www.facebook.com/frontendisti/" target="_blank" class="social__icon">
                    <img
                        src="{{ asset('images/round-facebook.svg') }}"
                        width="40"
                        height="40"
                        alt="Frontendisti na Facebooku"
                    />
                </a>
                <a href="https://www.twitter.com/frontendisti/" target="_blank" class="social__icon">
                    <img
                        src="{{ asset('images/round-twitter.svg') }}"
                        width="40"
                        height="40"
                        alt="@Frontendisti na Twitteru"
                    />
                </a>
                <a
                    href="https://www.youtube.com/channel/UCxs7KDC0LFOezVujLG_leRw"
                    target="_blank"
                    class="social__icon"
                >
                    <img
                        src="{{ asset('images/round-youtube.svg') }}"
                        width="40"
                        height="40"
                        alt="Frontendisti na YouTube"
                    />
                </a>
            </div>

        </div>
    </div>

    <!-- Recent Event -->
    {% set lastvideo = false %}
    {% for event in data.events|reverse %}
        {% if event.speakers[0].youtube_id|length > 0 and lastvideo == false %}
            {% set lastvideo = true %}

            <div class="container">
                <h2>{{ event.title|striptags|trim|raw }}</h2>
                <p>
                    {{ event.description|raw }}
                </p>
            </div>

            <div class="container container--xs-fluid">
                <div class="grid grid--center offset--bottom">

                    {% for speaker in event.speakers %}
                        {% set columns = '' %}
                        {% if loop.length == 4 %}
                            {% set columns = 'grid__item--quarter' %}
                        {% endif %}
                        <div class="grid__item {{ columns }}">

                            <div class="box">
                                <div class="box__video">
                                    <iframe src="https://www.youtube.com/embed/{{ speaker.youtube_id }}" allowfullscreen frameborder="0"></iframe>
                                </div>
                            </div>

                        </div>
                    {% endfor %}

                </div>
                <div class="grid grid--center offset--bottom--larger">
                    <div class="grid__item">

                        <div class="box">
                            <div class="box__text">
                                <a
                                    href="https://www.youtube.com/channel/UCxs7KDC0LFOezVujLG_leRw"
                                    class="button"
                                >Frontendisti na YouTube</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <!-- CTAs -->
    <div class="container">
        <div class="grid offset--bottom--larger">
            <div class="grid__item u__text--center offset--bottom--large">

                <img src="{{ asset('images/box-group.svg') }}" height="80" class="u__hidden--mobile" alt="" />
                <h2 class="h3 offset--bottom">
                    Nenechte si ujít<br class="u__hidden--mobile" />
                    další&nbsp;sraz!
                </h2>
                <a href="http://srazy.info/frontendisti/" class="button">
                    Frontendisti na&nbsp;Srazech
                </a>

            </div>
            <div class="grid__item u__text--center offset--bottom--large">

                <img src="{{ asset('images/box-chat.svg') }}" height="80" class="u__hidden--mobile" alt="" />
                <h2 class="h3 offset--bottom">
                    Pojďte diskutovat o&nbsp;webovém&nbsp;frontendu!
                </h2>
                <a href="https://www.facebook.com/frontendisti/" class="button">
                    Frontendisti na&nbsp;Facebooku
                </a>

            </div>
            <div class="grid__item u__text--center offset--bottom--large">

                <img src="{{ asset('images/box-job.svg') }}" height="80" class="u__hidden--mobile" alt="" />
                <h2 class="h3 offset--bottom">
                    Hledáte nebo nabízíte práci v&nbsp;oboru webového&nbsp;frontendu?
                </h2>
                <a href="https://www.facebook.com/groups/frontendistiprace/" class="button">
                    Frontend práce na&nbsp;Facebooku
                </a>

            </div>
        </div>
    </div>

    <!-- Humans -->
    {% if data.team|length > 0 %}
        <div class="container u__text--center">
            <h2 class="offset--bottom">Organizační štáb</h2>
            <div class="grid grid--center offset--bottom--larger">
                {% for member in data.team %}
                    <div class="grid__item">
                        <div class="box offset--bottom--large">
                            <div class="box__illustration">
                                <img src="{{ image('images/people/' ~ member.image).cropResize(400) }}" alt="{{ member.name }}" class="box__image box__image--round" />
                            </div>
                            <div class="box__text">
                                <h3 class="box__title">
                                    <strong>{{ member.name|striptags|trim }}</strong>
                                </h3>
                                {% if member.position|length > 0 %}
                                    <div class="u__text--small">
                                        {{ member.position|raw }}
                                    </div>
                                {% endif %}
                                {% if member.email|length > 0 %}
                                    <div class="u__text--smaller">
                                        E:&nbsp;<a href="mailto:{{ member.email|striptags|trim }}" target="_blank">{{ member.email|striptags|trim }}</a>
                                    </div>
                                {% endif %}
                                {% if member.twitter|length > 0 %}
                                    <div class="u__text--smaller">
                                        <a href="https://twitter.com/{{ member.twitter|striptags|trim }}" target="_blank">@{{ member.twitter|striptags|trim }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="grid__item grid__item--wide">
                    <p>
                        Pokud vás zajímá možnost sponzorství Frontendisti.cz, pište Martinu Michálkovi na
                        <a href="mailto:martin@vzhurudolu.cz">martin@vzhurudolu.cz</a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
